<h2>Welcome Administrator</h2>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/authors'>Authors</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/authors/new'>Add Author</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/books'>Books</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/books/new'>Add Book</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/customers'>Customers</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/customers/new'>Add Customer</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/payments'>Payments</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/payments/new'>Add Payment</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/rentals'>Rentals</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/rentals/new'>Add Rental</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/topics'>Topics</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/topics/new'>Add Topic</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/events'>Events</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/events/new'>Add Event</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/copies'>Copies</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/copies/new'>Add Copy</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/invoices'>Invoices</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/invoices/new'>Add Invoice</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/rooms'>Rooms</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/rooms/new'>Add Room</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/reservations'>Reservations</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/reservations/new'>Add Reservation</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/invitations'>Invitations</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/invitations/new'>Add Invitation</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/registrations'>Registrations</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/registrations/new'>Add Registration</a>
  </div>
</div>  

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/sponsors'>Sponsors</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/sponsors/new'>Add Sponsor</a>
  </div>
</div>

<div class = 'index-row'>
  <div class = 'index-item-left'>
    <a class = 'index-text' href='/funds'>Funds</a>
  </div>
  <div class = 'index-item-right'>
    <a class = 'index-text' href='/funds/new'>Add Fund</a>
  </div>
</div>