<h2>Admin</h2>
<header>
    <nav>
      <ul>
        <li><a href='/authors'>Authors</a></li>
        <li><a href='/authors/new'>Add Author</a></li>
        <li><a href='/books'>Books</a></li>
        <li><a href='/books/new'>Add Book</a></li>
        <li><a href='/customers'>Customers</a></li>
        <li><a href='/customers/new'>Add Customer</a></li>
        <li><a href='/payments'>Payments</a></li>
        <li><a href='/payments/new'>Add Payment</a></li>
        <li><a href='/rentals'>Rentals</a></li>
        <li><a href='/rentals/new'>Add Rental</a></li>
        <li><a href='/topics'>Topics</a></li>
        <li><a href='/topics/new'>Add Topic</a></li>
        <li><a href='/events'>Events</a></li>
        <li><a href='/events/new'>Add Event</a></li>
        <li><a href='/copies'>Copies</a></li>
        <li><a href='/copies/new'>Add Copy</a></li>
        <li><a href='/invoices'>Invoices</a></li>
        <li><a href='/invoices/new'>Add Invoice</a></li>
        <li><a href='/rooms'>Rooms</a></li>
        <li><a href='/rooms/new'>Add Room</a></li>
        <li><a href='/reservations'>Reservations</a></li>
        <li><a href='/reservations/new'>Add Reservation</a></li>
        <li><a href='/invitations'>Invitations</a></li>
        <li><a href='/invitations/new'>Add Invitation</a></li>
        <li><a href='/registrations'>Registrations</a></li>
        <li><a href='/registrations/new'>Add Registration</a></li>
        <li><a href='/sponsors'>Sponsors</a></li>
        <li><a href='/sponsors/new'>Add Sponsor</a></li>
        <li><a href='/funds'>Funds</a></li>
        <li><a href='/funds/new'>Add Fund</a></li>
      </ul>
    </nav>
  </header>