<h1>New Customer Registration</h1>
<form action="/register/customer" method="POST">
    <div>
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>First Name</label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName">
    </div>
    <div>
        <label>Gender</label>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label>Phone</label>
        <input type="number" name="phone">
    </div>
    <div>
        <label>Street</label>
        <input type="text" name="street">
    </div>
    <div>
        <label>City</label>
        <input type="text" name="city">
    </div>
    <div>
        <label>Zipcode</label>
        <input type="number" name="zipcode">
    </div>
    <div>
        <label>State</label>
        <input type="text" name="state">
    </div>
    <div>
        <label>Country</label>
        <input type="text" name="country">
    </div>
    <div>
        <label>Identification Type</label>
        <select name="identificationType">
            <option value="Passport">Passport</option>
            <option value="SSN">SSN</option>
            <option value="Driver License">Driver License</option>
        </select>
    </div>
    <div>
        <label>Identification Number</label>
        <input type="text" name="identificationNumber">
    </div>
    <div>
        <label>Cover</label>
        <input type="file" name="cover" class="filepond">
    </div>
    <button type="submit">Register</button>
</form>