<h2>Edit Registration</h2>
<form action="/registrations/<%= registration.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/registrations">Cancel</a>
    <button type="submit">Update</button>
</form>