<header>
  <nav>
    <a href='/'>RTL</a>
    <ul>
      <li><a href='/authors'>Authors</a></li>
      <li><a href='/authors/new'>Add Author</a></li>
      <li><a href='/books'>Books</a></li>
      <li><a href='/books/new'>Add Book</a></li>
      <li><a href='/customers'>Customers</a></li>
      <li><a href='/customers/new'>Add Customer</a></li>
      <li><a href='/payments'>Payments</a></li>
      <li><a href='/payments/new'>Add Payment</a></li>
      <li><a href='/rentals'>Rentals</a></li>
      <li><a href='/rentals/new'>Add Rental</a></li>
    </ul>
  </nav>
</header>