<header>
  <nav class = "header-nav">
    <a class = "header-title" href='/'>Read Think and Learn Public Library</a>
    <a class = "header-link" href='/admin'>Admin</a>
    <!--<ul>
      <li><a href='/customer/login'>Customer Login</a></li>
    </ul>
    -->
  </nav>
</header>