<div class="form-row">
    <div class="form-item">
        <label>Number</label>
        <input type="number" name="number" value="<%= room.number %>">
    </div>
    <div class="form-item">
        <label>Capacity</label>
        <input type="number" name="capacity" value="<%= room.capacity %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Room Picture</label>
        <input type="file" name="cover" class="book-cover filepond">
    </div>
</div>