<div>
    <label>Number</label>
    <input type="number" name="number" value="<%= room.number %>">
</div>
<div>
    <label>Capacity</label>
    <input type="number" name="capacity" value="<%= room.capacity %>">
</div>
<div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond">
</div>