<h2 class="page-header">Search Room</h2>
<form action="/rooms" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Number</label>
            <input type="number" name="number" value="<%= searchOptions.number %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<div>
    <% rooms.forEach(room=> { %>
        <div class="author-row">
            <div class="author-name">
                <%= room.number %>
            </div>

            <div class="author-name">
                <%= 'Capacity:' + room.capacity %>
            </div>
        </div>

        <div class="form-row form-row-end btn-row">
            <a class="btn btn-primary" href="/rooms/<%= room.id %>">View</a>
        </div>
        <% }) %>
</div>