<h1 class="page-header">Room</h1>

<div class="book-details">
    <div>
        <img class="book-cover" src="<%= room.coverImagePath %>">
    </div>

    <div class="book-details-grid">
        <div class="book-details-label"> ID:</div>
        <div>
            <%= room.id %>
        </div>
        <div class="book-details-label"> Room Number:</div>
        <div>
            <%= room.number %>
        </div>
        <div class="book-details-label"> Capacity:</div>
        <div>
            <%= room.capacity %>
        </div>
    </div>
</div>