<h2>Edit Invoice</h2>
<form action="/invoices/<%= invoice.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/invoices">Cancel</a>
    <button type="submit">Update</button>
</form>