<h2>New Invoice</h2>
<form action="/invoices" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/invoices">Cancel</a>
        <button class="btn btn-danger" 
        type="submit">Create</button>
    </div>
</form>