<div class="form-row">
    <div class="form-item">
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <div class="form-item">
        <label>Password</label>
        <input type="password" name="password">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>First Name</label>
        <input type="text" name="firstName">
    </div>
    <div class="form-item">
        <label>Last Name</label>
        <input type="text" name="lastName">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Gender</label>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="form-item">
        <label>Email</label>
        <input type="email" name="email">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Phone</label>
        <input type="number" name="phone">
    </div>
    <div class="form-item">
        <label>Street</label>
        <input type="text" name="street">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>City</label>
        <input type="text" name="city">
    </div>
    <div class="form-item">
        <label>Zipcode</label>
        <input type="number" name="zipcode">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>State</label>
        <input type="text" name="state">
    </div>
    <div class="form-item">
        <label>Country</label>
        <input type="text" name="country">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <input type="file" name="cover" class="filepond">
    </div>
</div>