<h1 class="page-header" >Welcome Author
    <%= author.fullName %>
</h1>

<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" href='/'>Logout</a>
</div>


<div class = 'index-row'>
    <div class = 'index-item-left'>
      <a class = 'index-text' href="/author/<%= author.id %>">Profile</a>
    </div>
    <div class = 'index-item-right'>
        <a class = 'index-text' href='/events'>Events</a>
    </div>
</div>

<div class = 'index-row'>
    <div class = 'index-item-left'>
        <a class = 'index-text' href='/books'>Books</a>
      </div>
    <div class = 'index-item-right'>
        <a class = 'index-text' href='/books/new'>Add Book</a>
    </div>
</div>

<div class = 'index-row'>
    <div class = 'index-item-left'>
        <a class = 'index-text' href='/topics'>Topics</a>
    </div>
    <div class = 'index-item-right'>
        <a class = 'index-text' href='/invitations/new'>Add Invitation</a>
    </div>
</div>

<div class = 'index-row'>
    <div class = 'index-item-left'>
        <a class = 'index-text' href='/sponsors/new'>Sponsorship</a>
    </div>
    <div class = 'index-item-right'>
        <a class = 'index-text' href='/funds/new'>Add Fund</a>
    </div>
</div>
