<h1>New Author Registration</h1>
<form action="/author/register" method="POST">
    <%- include('_form_fields') %> 
    <a href="/author">Cancel</a>
    <button type="submit">Register</button>
</form>