<div class='index-row'>
    <div class='index-item-left index-item-right'>
        <a class='index-text' href='/admin/login'>Admin Login</a>
    </div>
</div>

<div class='index-row'>
    <div class='index-item-left'>
        <a class='index-text' href='/customer/login'>Customer Login</a>
    </div>

    <div class='index-item-right'>
        <a class='index-text' href='/author/login'>Author Login</a>
    </div>
</div>

<div class='index-row'>
    <div class='index-item-left'>
        <a class='index-text' href='/customer/register'>Customer Register</a>
    </div>

    <div class='index-item-right'>
        <a class='index-text' href='/author/register'>Author Register</a>
    </div>
</div>