<div>
    <label>Type</label>
    <select name="type">
        <option value="Individual">Individual</option>
        <option value="Organization">Organization</option>
    </select>
</div>
<div>
    <label>First Name</label>
    <input type="text" name="firstName" value="<%= sponsor.firstName %>">
</div>
<div>
    <label>Last Name</label>
    <input type="text" name="lastName" value="<%= sponsor.lastName %>">
</div>
<div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond">
</div>