<h2 class="page-header">New Sponsor</h2>
<form action="/sponsors" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/sponsors">Cancel</a>
        <button class="btn btn-danger" 
        type="submit">Create</button>
    </div>
</form>