<h1 class="page-header">Sponsor</h1>


<div class="book-details">
    <div>
        <img class="book-cover" src="<%= sponsor.coverImagePath %>">
    </div>

    <div class="book-details-grid">
        <div class="book-details-label"> ID:</div>
        <div>
            <%= sponsor.id %>
        </div>
        <div class="book-details-label"> Sponsor Name:</div>
        <div>
            <%= sponsor.name %>
        </div>
        <div class="book-details-label"> Sponsor Type:</div>
        <div>
            <%= sponsor.type %>
        </div>
    </div>
</div>