@font-face {
    font-family: 'Berkahi Blackletter';
    src: url('/fonts/BerkahiBlackletter.woff2') format('woff2'),
        url('/fonts/BerkahiBlackletter.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PD-B-Italic';
    src: url('/fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PD-B';
    src: url('/fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PD-EB';
    src: url('/fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PD-Italic';
    src: url('/fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PD-EB-Italic';
    src: url('/fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PD';
    src: url('/fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('/fonts/PlayfairDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}