<h1>New Customer Registration</h1>
<form action="/customer/register" method="POST">
    <%- include('_form_fields') %> 
    <a href="/customer">Cancel</a>
    <button type="submit">Register</button>
</form>