<div>
    <label>Type</label>
    <input type="text" name="type" value="<%= topic.type %>">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= topic.description %></textarea>>
</div>
<div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond">
</div>