<h2>Edit Topic</h2>
<form action="/topics/<%= topic.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/topics">Cancel</a>
    <button type="submit">Update</button>
</form>