<h1 class="page-header">Topic
    <%= topic.type %>
</h1>

<div class="book-details">
    <div>
        <img class="book-cover" src="<%= topic.coverImagePath %>">
    </div>
    <div class="book-details-grid">
        <div class="book-details-label"> ID:</div>
        <div>
            <%= topic.id %>
        </div>
        <div class="book-details-label"> Description:</div>
        <div>
            <%= topic.description %>
        </div>
    </div>
</div>