<div class="form-row">
    <div class="form-item">
        <label>Status</label>
        <select name="status">
            <option value="Available">Available</option>
            <option value="Unavailable">Unavailable</option>
        </select>
    </div>

    <div class="form-item">
        <label>Book</label>
        <select name="book">
            <% books.forEach(book => { %>
                <% if (book.id===copy.book) { %>
                    <option selected label="<%= book.title %>" value="<%= book.id %>">
                        <% } else { %>
                    <option label="<%= book.title %>" value="<%= book.id %>">
                        <% } %>
                            <% }) %>
        </select>
    </div>
</div>