<h2>Edit Copy</h2>
<form action="/copies/<%= copy.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/copies">Cancel</a>
    <button type="submit">Update</button>
</form>