<h2>Edit Copy</h2>
<form action="/copies/<%= copy.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/copies">Cancel</a>
        <button class="btn btn-danger"
        type="submit">Update</button>
    </div>
</form>