<h2>Edit Rental</h2>
<form action="/rentals/<%= rental.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/rentals">Cancel</a>
    <button type="submit">Update</button>
</form>