<h2>Edit Customer</h2>
<form action="/customers/<%= customer.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/customers">Cancel</a>
        <button class="btn btn-danger" 
        type="submit">Update</button>
    </div>
</form>